.login-button {
  box-sizing: border-box;
  width: 200px;
  color: white;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--token-a9e46ea4-9683-45a9-a4cc-66c814e9860a, #f27980);
  overflow: hidden;
  border-radius: 102px;
  border: 4px solid var(--token-a9e46ea4-9683-45a9-a4cc-66c814e9860a, #f27980)
    /* {"name":"Pink"} */;
  cursor: pointer;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 500;
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.login-button-text {
  text-decoration: none;
  font-weight: 500;

  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  text-align: center;
  align-content: center;
  color: #ffffff;
}

.google-button {
  box-sizing: border-box;
  width: 280px;
  margin-top: 40px;
  height: 60px;
  background-color: var(--token-0f3acdb6-3ec8-4aad-9768-ad073303c8d7, #ffffff);
  border-radius: 6px;
  border: 1px solid var(--token-ee778ac9-2c92-47f7-b1ec-c1570771fb6e, #8db1bf);
  align-items: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;
  /* {"name":"M Green"} */
}
.google-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  overflow: visible;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.google-text {
  width: auto; /* 174px */
  height: auto; /* 20px */
  overflow: visible;
  white-space: pre;
  font-weight: 400;
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--D_Gray, #525252);
  font-size: 18px;
}
.login-email-box {
}
.login-input-title {
  width: auto; /* 97px */
  height: auto; /* 24px */
  overflow: visible;
  white-space: pre;
  font-weight: 400;
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  color: var(--D_Gray, #525252);
}

.login-left-panel {
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 50%;
}
.login-left-panel-2 {
  flex-direction: column;
  display: flex;
}
.login-logo {
  overflow: visible;
  width: 400x;
  height: 150px;
}
.login-image {
  width: 788px;
  height: 886px;
}

.login-page {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;
  flex-direction: row;
  caret-color: transparent;
  display: flex;
}

.login-right-panel {
  width: 50%;
  background-color: #fff0e8;
  overflow: visible;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.login-title {
  white-space: pre;
  font-size: 33px;
  color: var(--D_Gray, #525252);
  font-weight: 500;
  margin-top: 325px;
  font-style: normal;
  font-family: 'Noto Sans KR', sans-serif;
}
